<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>943702641062-ksct54aa8e7nf7vve0v8v22g1mikvncn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.943702641062-ksct54aa8e7nf7vve0v8v22g1mikvncn</string>
	<key>API_KEY</key>
	<string>AIzaSyCvewKnAcPS8SXzG5xw4xfoK1u-kVopoqI</string>
	<key>GCM_SENDER_ID</key>
	<string>943702641062</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.instagram</string>
	<key>PROJECT_ID</key>
	<string>instagram-20e95</string>
	<key>STORAGE_BUCKET</key>
	<string>instagram-20e95.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:943702641062:ios:e84191454cda0a6cba2767</string>
</dict>
</plist>